coverage>=7.2.7,<7.11
cryptography>=42,<44; python_version <= '3.7'
cryptography>=49.0.0,<50; python_version >= '3.8'
dnspython>=2.3,<3
pytest>=7.4.4,<9
pytest-asyncio>=0.21.1,<=1.2.0
pytest-mock>=3,<4
brotli>=1.0.9; platform_python_implementation == 'CPython'
brotlicffi>=0.8.0; platform_python_implementation != 'CPython'
